title
$title
---
treeMapJson
$treeMapJson
---
resourcePath
$resourcePath
---
jsLibrary1File
$jsLibrary1File
---
jsLibrary1Text
$jsLibrary1Text
---
jsLibrary2File
$jsLibrary2File
---
jsLibrary2Text
$jsLibrary2Text
---
initialisationCodeFile
$initialisationCodeFile
---
initialisationCodeText
$initialisationCodeText
---
styleSheetFile
$styleSheetFile
---
styleSheetText
$styleSheetText
---
sizeMetric
$sizeMetric
---
sizeMetricId
$sizeMetricId
---
colourMetric
$colourMetric
---
colourMetricId
$colourMetricId
---
pathPrefix
$pathPrefix
---
topThreshold
$topThreshold
---
bottomThreshold
$bottomThreshold
---
topColour
$topColour
---
bottomColour
$bottomColour
---
extraColumnIdsJson
$extraColumnIdsJson
---
extraColumnNamesJson
$extraColumnNamesJson
---
pathComponentIdListJson
$pathComponentIdListJson
---
colourFields
$colourFields
---
sizeFields
$sizeFields
---
extraFields
$extraFields
---
columnIdToNameMap
$columnIdToNameMap
---
columnIdToNameMapJson
$columnIdToNameMapJson
---